@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-title: #B52184;
    --color-letters-background: #312D64;
    --color-white: #F9F4FB;
}

html, body, label, input {
    font-family: "Mulish";
}

header {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-white);
    align-items: center;
}

header > img {
    max-width: 36.4rem;
    max-height: 37.0rem;
    width: 100%;
}

#text-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 9rem;
    text-align: center;
}

#text-container h1 {
    color: var(--color-title);
    font-weight: 900;
    font-size: 3.2rem;
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;
}

#text-container p {
    color: var(--color-letters-background);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

#study-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5rem;
    background-color: var(--color-letters-background);
    padding: 5.3rem 0;
}

.study {
    max-width: 35.2rem;
    height: 36rem;
    background-color: white;
    border-radius: 20px;
    padding: 2.6rem;
}

.study h2 {
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--color-title);
}

.study p {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--color-letters-background);
}

#form-container {
    background-color: var(--color-white);
    padding: 7.8rem 4rem 7.5rem 4rem;
}

fieldset {
    border: none;
    display: flex;
    flex-flow: column nowrap;
}

fieldset legend {
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--color-title);
    margin-bottom: 4rem;
}

#form-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.4rem;
}

.form-input-container {
    min-width: 24rem;
    max-width: 52.6rem;
    position: relative;
}

label {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    top: 7px;
    left: 10px;
}

.form-input-container input {
    width: 100%;
    height: 32px;
    border-radius: 1.6rem;
    padding: 1.8rem;
    padding-left: 90px;
    border: 1px solid black;
    font-size: 1.4rem;
    color: var(--color-letters-background);
}

#email {
    padding-left: 70px;
}

#form-textarea-container {
    min-width: 24rem;
    max-width: 52.6rem;
    height: 100px;
}

#form-textarea-container textarea {
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    border-radius: 1.6rem;
    font-size: 1.4rem;
    color: var(--color-letters-background);
}

#form-wrapper button {
    width: 16rem;
    padding: 1.6rem;
    font-size: 1.4rem;
    border-radius: 1.6rem;
    border: none;
    color: white;
    background-color: var(--color-letters-background);
}

#form-wrapper button:hover {
    background-color: #222046;
}

#form-container > img {
    display: none;
}

footer {
    background-color: var(--color-letters-background);
    height: 8rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

@media (min-width: 1024px) {
  
}